#dropdown-basic-button {
    min-width: 100% !important;
}

.dropdown-top-margin {
    margin-top: 2rem;
}

.hoverable {
    cursor: pointer;
}

.hoverable:hover {
    border-color: skyblue !important;
}

.code-space::placeholder {
    -webkit-text-fill-color: grey;
}
